{% extends 'base.html' %}

{% block title %}Get Started{% endblock %}

{% block content %}

    <h2>Getting Started with the Decision Matrix</h2>
    <p>Hello and welcome to the Decision Matrix. <br>
        Let's break down a difficult choice into small parts.</p> 
        <br>
        What is it you're here to accomplish? <br>
        For example: <br>
        <br>
        I need to...<br>
        <ul>
    <li>hire the best candidate.</li>
    <li>pick out a new dresser.</li>
    <li>buy a new car.</li>
    <li>choose where to go to school.</li>
        </ul><br>
        What about you?<br>

    <form action="/get-started" value="test">
        My name is...<input type="text" name="current-user" required="true"><br>
        I need to... <input type="text" name="user-decision" required="true">
        <input type="submit">
    </form>
    <br>
    <br>
    {% if values!= [None,None] and values %}

    Hello {{ name }}, so you are trying to {{  decision  }}?

    {% endif %}


    
    <br><br><br>
    <p><a href="/">Home</a></p>


{% endblock %}